/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
.page3 {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff677d, #fce3f2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Contenedor principal */
.container {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}

/* Título y párrafo */
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Contenedor del input */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.input-container input {
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;

}

.input-container input::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

.input-container button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

/* Botón de continuar */
.continue-button {
    background-color: #e60c3b;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.continue-button:hover {
    background-color: #c40a34;
}

/* Logo */
.logo-container {
    position: absolute;
    margin-top: -200px;
    top: 200px;
    right: 200px;
}

/* Botón de retroceso */
.back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}
.page3 {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff677d, #fce3f2);
    color: black; /* Cambiado de 'white' a 'black' */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
